 <div class="modal-footer">
    <span class="separated-block">
        <a href="#"  {{ action cancel target=view}}>{{i18n cancelText}}</a><span></span>
    </span>
    <a href="#"  {{ action save }}>{{i18n saveText}}</a>
  </div>