<span class="navigation-text pull-right">

    <span class="navigation-menu">

      {{#if userName}}
      
        <span>
          {{i18n welcome}}, {{userName}}
        </span>

        <span class="nav-menu-separator"> | </span>
      {{/if}}     

      <input class="select-lang"/>

      <span class="nav-menu-separator"> | </span>

      <input class="select-theme" />

      <span class="nav-menu-separator"> | </span>

      <span class="navigation-menu-item" menu="logout" {{action logout}}> 
          <label>{{i18n "logout_menu"}}</label>         
      </span>

    </span>

</span>
