<button class="back-button jcarousel-control-prev">Up</button>
	<div class="widget-bar-content">
		

		<div class="jcarousel">

		    	{{view App.LeftWidgetBarContainerView elementId="left_widget_bar_container_view"}}

		</div>

	</div>

<button class="next-button jcarousel-control-next"> Down </button>
